version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: vault-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: offline_first
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    container_name: offline-first-api
    depends_on:
      - postgres
    environment:
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/offline_first?sslmode=disable
    ports:
      - "8081:8080"

volumes:
  postgres_data:
